.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: var(--wzl-surface);
  color: var(--wzl-fg);
}

.sidebar.left {
  border-right: 1px solid var(--wzl-border);
}
.sidebar.right {
  border-left: 1px solid var(--wzl-border);
}
